html {
    background-color: #FFFFFF;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

/*HEADER*/

.header {
    margin: 2% 10%;
    background: #F4F4F4;
    box-shadow: 10px 10px 0px #ff0000;
    border-radius: 40px;
}

.list_link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: 1%;
}

.header_link {
    text-transform: uppercase;
}

.header_link:hover {
    font-weight: 700;
}

/*MAIN*/

main {
    margin: 0 10% 2%;
    background: #F4F4F4;
    box-shadow: 10px 10px 0px #FFE975;
    border-radius: 40px;

}

/*FIRST SECTION*/

.first_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0;
}

.name {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     line-height: 30px;
}

h1 {
    font-size: 40px;
}

.my_image {
    box-shadow: 10px 10px 0px #928CF8;
    border-radius: 40px;
    max-width: 300px;
    max-height: 300px;
}

/*SECOND SECTION*/

.second_section {
    padding: 2%;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 25px;
}

.contact_links {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 10px 10px 0px #3DC39B;
    border-radius: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0;
}

.contact_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}